/*change color to all elements*/
a:hover {
  color: #22afc2;
}
/*changement de style de list*/
ul {
  display: flex;
  float: right;
  list-style: none;
  margin-right: 50px;
}
/*changement de style d'element de la list*/
li a {
  display: block;
  color: white;
  text-align: center;
  margin: 12px;
  text-decoration: none;
  font-family: "Futura Paneuropean Bold", sans-serif;
}

header {
    background-color: rgba(36, 36, 36, 255);
}
h1 {
  font-family: "Futura Paneuropean Bold", sans-serif;
  font-size: 50px;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

#section1 {
  background-image: url("test.jpg");
  padding: 150px;
  color: white;
}
#section2{
    background-color: white;
    color: black;
    padding: 150px;
}
body{
    background-color: black;
}


/* Nos Services*/
section
